<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="container">
    <div class="left-panel">
      <h2>Hello!<br><span>Have a</span><br><strong>GOOD DAY</strong></h2>
    </div>
    <div class="right-panel">
      <h2>Login</h2>
       <form name="frm" action="/validate1" method="post"> 
        <label>Username</label>
        <input type="text" placeholder="Enter username" name="username" required>
        
        <label>Password</label>
        <input type="password" placeholder="Enter password" name="password" required>
        <select name="type">
          <option>Admin</option>
          <option>User</option>
        </select>
        <a href="#" class="forgot">Forgot password?</a>
        <input type="submit" value="login" name="s">
      <p class="signup-link">Don't have any account? <a href="#">Create an account</a></p>
    </form>
    
    </div>
    </div>
</body>
</html>